input {

}

input:invalid {
}

.text-input-label {

}

.text-input {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #989898;
    padding: 10px 20px 10px 0;
    /*display: inline-block;*/
    /*width: 100%;*/
    /*background-color: var(--secondary-background-color);*/
    color: var(--primary-font-color);
    /*height: auto;*/
    /*position: relative;*/
    /*line-height: 0;*/

}

.text-input:focus {
    outline: none;
}

.text-input::placeholder {
    color: #989898;
    font-family: 'HelveticaNeue-Thin', sans-serif;
}
